html{position:relative;min-height:100vh;padding-bottom:100px;font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;box-sizing:border-box;font-size:16px;-ms-overflow-style:scrollbar;-webkit-tap-highlight-color:transparent;}
.navbar-brand{font-family:"Titillium Web",sans-serif;font-size:1.5rem!important;padding-top:0!important;margin-right:2rem!important;color:#757575!important;}
.nav-link:hover{transition:.1s all;}
.nav-pills.outline-active .nav-link{border-radius:0;border:none;border-bottom:2px solid transparent;background:0 0;color:#aaa;}
.nav-pills.outline-active .nav-link:hover{color:#555;}
.nav-pills.outline-active .nav-link.active{background:#fff!important;border-bottom:2px solid #757575!important;color:#757575!important;}
footer{background:#f3f3f3;margin-top:3rem;padding:1rem 0;position:absolute;bottom:0;width:100%;}
.post-meta{position:relative;}
.banner{color:#fff;background:#333;padding:2rem;margin-bottom:2rem;}
.preview-link{color:inherit!important;}
.preview-link:hover{text-decoration:inherit!important;}
.post-meta{display:block;font-weight:300;}
.post-meta .info{display:inline-block;vertical-align:middle;margin:0 1.5rem 0 .3rem;line-height:1rem;}
.post-meta .info .date{color:black;font-size:.8rem;display:block;}
.post-preview{border-top:1px solid rgba(0,0,0,.1);padding:1.5rem 0;}
.post-preview .post-meta{margin:0 0 1rem;}
.post-preview .preview-link h1{font-weight:700!important;font-size:2rem!important;}
.post-preview .preview-link p{font-family:'Source Serif Pro',serif;margin-bottom:0;}
.post-preview .preview-link span{font-size:.8rem;font-weight:300;color:#bbb;}
.home-page .banner{background:#757575;box-shadow:inset 0 8px 8px -8px rgba(0,0,0,.3),inset 0 -8px 8px -8px rgba(0,0,0,.3);}
.home-page .banner p{color:#fff;text-align:center;font-size:1.5rem;font-weight:300!important;margin-bottom:0;}
.home-page .feed-toggle{margin-bottom:-1px;}
.home-page .sidebar{padding:5px 10px 10px;background:#f3f3f3;border-radius:4px;}
.home-page .sidebar p{margin-bottom:.2rem;}
p,ul{margin-bottom:1rem;}
footer,nav{display:block;}
a:active,a:hover{outline:0;}
img{vertical-align:middle;border:0;}
button{text-transform:none;margin:0;line-height:inherit;border-radius:0;color:inherit;font:inherit;margin:0;-webkit-appearance:button;cursor:pointer;overflow:visible;text-transform:none;}
*,::after,::before{box-sizing:inherit;}
body{margin:0;font-family:"Source Sans Pro",sans-serif;font-size:1rem;line-height:1.5;color:#373a3c;background-color:#fff;}
h1,p,ul{margin-top:0;}
a{color:#757575;text-decoration:none;touch-action:manipulation;background-color:transparent}
a:focus,a:hover{color:#3d8b3d;text-decoration:underline;}
a:focus{outline:dotted thin;outline:-webkit-focus-ring-color auto 5px;outline-offset:-2px;}
a,button{touch-action:manipulation;}
button:focus{outline:dotted 1px;outline:-webkit-focus-ring-color auto 5px;}
h1{margin:.67em 0;font-size:2.5rem;margin-bottom:.5rem;font-family:"Merriweather Sans",sans-serif;font-weight:500;line-height:1.1;color:inherit;}
.label{font-weight:700;}
.container{margin-left:auto;margin-right:auto;}
.container{padding-left:.9375rem;padding-right:.9375rem;}
@media (min-width:544px){
    .navbar{border-radius:.25rem;}
    .container{max-width:576px;}
}
@media (min-width:992px){.container{max-width:940px;}}
@media (min-width:1200px){.container{max-width:1140px;}}
.row{display:flex;flex-wrap:wrap;margin-left:-.9375rem;margin-right:-.9375rem;}
.col-md-3,.col-md-6,.col-md-9{position:relative;min-height:1px;padding-left:.9375rem;padding-right:.9375rem;}
@media (max-width:500px){
    .row{display:block;}
   
}
@media (min-width:500px){
.col-md-3{flex:0 0 25%;max-width:25%;}
.col-md-6{flex:0 0 50%;max-width:50%;}
.col-md-9{flex:0 0 75%;max-width:75%;}
.col-md-offset-3{margin-left:25%;}
}
.btn{display:inline-block;text-align:center;white-space:nowrap;vertical-align:middle;cursor:pointer;user-select:none;border:1px solid transparent;padding:.375rem 1rem;font-size:1rem;line-height:1.5;border-radius:.25rem;font-weight:400;}
.btn:active:focus,.btn:focus{outline:dotted thin;outline:-webkit-focus-ring-color auto 5px;outline-offset:-2px;}
.btn:focus,.btn:hover{text-decoration:none;}
.btn:active{background-image:none;outline:0;}
.btn:disabled{cursor:not-allowed;opacity:.65;}
.btn-outline-danger{color:#B85C5C;background-image:none;background-color:transparent;border-color:#B85C5C;}
.btn-outline-danger:active,.btn-outline-danger:focus,.btn-outline-danger:hover{color:#fff;background-color:#B85C5C;border-color:#B85C5C;}
.btn-outline-danger:disabled:focus,.btn-outline-danger:disabled:hover{border-color:#d7a3a3;}
.nav-link{display:inline-block;}
.nav-pills::after,.navbar::after{content:"";clear:both;}
.nav{padding-left:0;margin-bottom:0;list-style:none;}
.nav-link:focus,.nav-link:hover{text-decoration:none;}
.nav-pills .nav-item+.nav-item{margin-left:.2rem;}
.nav-pills::after{display:table;}
.nav-pills .nav-item{float:left;}
.nav-pills .nav-link{display:block;padding:.5em 1em;border-radius:.25rem;}
.nav-pills .nav-link.active,.nav-pills .nav-link.active:focus,.nav-pills .nav-link.active:hover{color:#fff;cursor:default;background-color:#757575;}
.navbar-brand,.navbar-nav .nav-item{float:left;}
.navbar{position:relative;padding:.5rem 0!important;}
.navbar::after{display:table;}
.navbar-brand{padding-bottom:.25rem;}
.navbar-brand:focus,.navbar-brand:hover{text-decoration:none;}
.navbar-nav .nav-link{display:block;padding-top:.425rem;padding-bottom:.425rem;}
.navbar-nav .nav-item+.nav-item{margin-left:1rem;}
.navbar-light .navbar-brand,.navbar-light .navbar-brand:focus,.navbar-light .navbar-brand:hover{color:rgba(0,0,0,.8);}
.navbar-light .navbar-nav .nav-link{color:black;}
.navbar-light .navbar-nav .nav-link:focus,.navbar-light .navbar-nav .nav-link:hover{color:darkgreen}
.navbar-light .navbar-nav .nav-link.active,.navbar-light .navbar-nav .nav-link.active:focus,.navbar-light .navbar-nav .nav-link.active:hover{color:darkmagenta;}
.label{display:inline-block;}
.label{padding:.25em .4em;font-size:75%;line-height:1;color:#fff;text-align:center;white-space:nowrap;vertical-align:baseline;border-radius:.25rem;}
.label:empty{display:none;}
a.label:focus,a.label:hover{color:#fff;text-decoration:none;cursor:pointer;}
.label-pill{padding-right:.6em;padding-left:.6em;border-radius:10rem;}
.label-default{background-color:#818a91;}
.label-default[href]:focus,.label-default[href]:hover{background-color:#687077;}
.pull-xs-right{float:right!important;}
.m-t-1{margin-top:1rem!important;}
.nav-link .user-pic{height:26px;border-radius:50px;float:left;margin-right:5px;}
.tag-pill{padding-right:0.6em;padding-left:0.6em;border-radius:10rem;}
.tag-default{color:#fff important;font-size:0.8rem;padding-top:0;padding-bottom:0.1rem;white-space:nowrap;margin-right:3px;margin-bottom:0.2rem;display:inline-block;}
.tag-default:hover{text-decoration:none;}
.tag-default.tag-outline{border:1px solid #ddd;color:#aaa!important;background:none!important;}
ul.tag-list{padding-left:0px!important;display:inline-block;list-style:none!important;}
ul.tag-list li{display:inline-block!important;}
.preview-link ul.tag-list{float:right;max-width:50%;vertical-align:top;}
:root{--tagify-dd-color-primary:rgb(53,149,246);--tagify-dd-bg-color:white;--tagify-dd-item-pad:.3em .5em;}
textarea{overflow:auto;resize:vertical;}
.post-page .comment-form .card-block{padding:0;}
.post-page .comment-form .card-block textarea{border:0;padding:1.25rem;}
.post-page .comment-form .card-footer .btn{font-weight:700;float:right;}
.post-page .comment-form .card-footer .comment-author-img{height:30px;width:30px;}
.post-page .card .card-footer{font-size:.8rem;font-weight:300;}
.post-page .card .comment-author-img{display:inline-block;vertical-align:middle;height:20px;width:20px;border-radius:30px;}
.post-page .card .date-posted{display:inline-block;vertical-align:middle;margin-left:5px;color:black}
p,code{margin-bottom:1rem;margin-top:0;line-break: anywhere;}
*,::after,::before{box-sizing:inherit;}
button,textarea{touch-action:manipulation;color:inherit;font:inherit;margin:0;margin:0;line-height:inherit;border-radius:0;}
button:focus{outline:dotted 1px;outline:-webkit-focus-ring-color auto 5px;}
.col-md-9{position:relative;min-height:1px;padding-left:.9375rem;padding-right:.9375rem;}
.form-control{display:block;width:100%;padding:.375rem .75rem;font-size:1rem;line-height:1.5;color:#55595c;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:.25rem;}
.form-control:focus{border-color:#66afe9;outline:0;}
.form-control::placeholder{color:#999;opacity:1;}
.form-control:disabled{background-color:#eceeef;opacity:1;}
.form-control:disabled{cursor:not-allowed;}
.btn:active:focus,.btn:focus{outline:dotted thin;outline:-webkit-focus-ring-color auto 5px;outline-offset:-2px;}
.btn:focus,.btn:hover{text-decoration:none;}
.btn:active{background-image:none;outline:0;}
.btn:disabled{cursor:not-allowed;opacity:.65;}
.btn-primary{color:#fff;background-color:#757575;border-color:#757575;}
.btn-primary:focus,.btn-primary:hover{color:#fff;background-color:#449d44;border-color:#419641;}
.btn-primary:active{color:#fff;background-color:#449d44;border-color:#419641;background-image:none;}
.btn-primary:active:focus,.btn-primary:active:hover{color:#fff;background-color:#398439;border-color:#2d672d;}
.btn-primary:disabled:focus,.btn-primary:disabled:hover{background-color:#757575;border-color:#757575;}
.btn-sm{padding:.25rem .75rem;font-size:.875rem;line-height:1.5;border-radius:.2rem;}
.card{margin-bottom:.75rem;position:relative;display:block;background-color:#fff;border:1px solid #e5e5e5;border-radius:.25rem;}
.card-block::after,.card-footer::after{display:table;content:"";clear:both;}
.card-block{padding:1.25rem;}
.card-footer{padding:.75rem 1.25rem;background-color:#f5f5f5;}
.card-text:last-child{margin-bottom:0;}
.card-footer{border-top:1px solid #e5e5e5;}
.card-footer:last-child{border-radius:0 0 .25rem .25rem;}
@media print{
    img{page-break-inside:avoid;}
    *,::after,::before{text-shadow:none!important;box-shadow:none!important;}
    a,a:visited{text-decoration:underline;}
    p{orphans:3;widows:3;}
    .navbar{display:none;}
    .label{border:1px solid #000;}
    *,::after,::before{text-shadow:none!important;box-shadow:none!important;}
    a,a:visited{text-decoration:underline;}
    img{page-break-inside:avoid;}
    *,::after,::before{text-shadow:none!important;box-shadow:none!important;}
    p{orphans:3;widows:3;}
    *,::after,::before{text-shadow:none!important;box-shadow:none!important;}
    }
    *,::after,::before{box-sizing:inherit;}
    [tabindex="-1"]:focus{outline:0!important;}
    [role=button]{cursor:pointer;touch-action:manipulation;}
    .form-control{display:block;width:100%;padding:.375rem .75rem;font-size:1rem;line-height:1.5;color:#55595c;background-color:#fff;background-image:none;border:1px solid #ccc;border-radius:.25rem;}
    .form-control:focus{border-color:#66afe9;outline:0;}
    .form-control::placeholder{color:#999;opacity:1;}
    .form-control:disabled{cursor:not-allowed;background-color:#eceeef;opacity:1;}
    .tagify{--tags-disabled-bg:#F1F1F1;--tags-border-color:#DDD;--tags-hover-border-color:#CCC;--tags-focus-border-color:#3595f6;--tag-border-radius:3px;--tag-bg:#E5E5E5;--tag-hover:#D3E2E2;--tag-text-color:black;--tag-text-color--edit:black;--tag-pad:0.3em 0.5em;--tag-inset-shadow-size:1.1em;--tag-invalid-color:#D39494;--tag-invalid-bg:rgba(211, 148, 148, 0.5);--tag-remove-bg:rgba(211, 148, 148, 0.3);--tag-remove-btn-color:black;--tag-remove-btn-bg:none;--tag-remove-btn-bg--hover:#c77777;--input-color:inherit;--tag--min-width:1ch;--tag--max-width:auto;--tag-hide-transition:0.3s;--placeholder-color:rgba(0, 0, 0, 0.4);--placeholder-color-focus:rgba(0, 0, 0, 0.25);--loader-size:.8em;--readonly-striped:1;display:inline-flex;align-items:flex-start;flex-wrap:wrap;border:1px solid var(--tags-border-color);padding:0;line-height:0;cursor:text;outline:0;position:relative;box-sizing:border-box;transition:.1s;}
    .tagify:hover:not(.tagify--focus):not(.tagify--invalid){--tags-border-color:var(--tags-hover-border-color);}
    .tagify__tag{display:inline-flex;align-items:center;margin:5px 0 5px 5px;position:relative;z-index:1;outline:0;line-height:normal;cursor:default;transition:.13s ease-out;}
    .tagify__tag>div{vertical-align:top;box-sizing:border-box;max-width:100%;padding:var(--tag-pad);color:var(--tag-text-color);line-height:inherit;border-radius:var(--tag-border-radius);white-space:nowrap;transition:.13s ease-out;}
    .tagify__tag>div>*{white-space:pre-wrap;overflow:hidden;text-overflow:ellipsis;display:inline-block;vertical-align:top;min-width:var(--tag--min-width);max-width:var(--tag--max-width);transition:.8s ease,.1s color;}
    .tagify__tag>div::before{content:"";position:absolute;border-radius:inherit;inset:var(--tag-bg-inset,0);z-index:-1;pointer-events:none;transition:120ms ease;animation:tags--bump .3s ease-out 1;box-shadow:0 0 0 var(--tag-inset-shadow-size) var(--tag-bg) inset;}
    .tagify__tag:focus div::before,.tagify__tag:hover:not([readonly]) div::before{--tag-bg-inset:-2.5px;--tag-bg:var(--tag-hover);}
    .tagify__tag.tagify--noAnim>div::before{animation:none;}
    .tagify__tag__removeBtn{order:5;display:inline-flex;align-items:center;justify-content:center;border-radius:50px;cursor:pointer;font:14px/1 Arial;background:var(--tag-remove-btn-bg);color:var(--tag-remove-btn-color);width:14px;height:14px;margin-right:4.6666666667px;margin-left:auto;overflow:hidden;transition:.2s ease-out;}
    .tagify__tag__removeBtn::after{content:"×";transition:.3s,color 0s;}
    .tagify__tag__removeBtn:hover{color:#fff;background:var(--tag-remove-btn-bg--hover);}
    .tagify__tag__removeBtn:hover+div>span{opacity:.5;}
    .tagify__tag__removeBtn:hover+div::before{box-shadow:0 0 0 var(--tag-inset-shadow-size) var(--tag-remove-bg,rgba(211,148,148,.3)) inset!important;transition:box-shadow .2s;}
    .tagify__input{flex-grow:1;display:inline-block;min-width:110px;margin:5px;padding:var(--tag-pad);line-height:normal;position:relative;white-space:pre-wrap;color:var(--input-color);box-sizing:inherit;}
    .tagify__input:empty::before{position:static;}
    .tagify__input:focus{outline:0;}
    .tagify__input:focus::before{transition:.2s ease-out;opacity:0;transform:translatex(6px);}
    .tagify__input:focus:empty::before{transition:.2s ease-out;opacity:1;transform:none;color:rgba(0,0,0,.25);color:var(--placeholder-color-focus);}
    .tagify__input::before{content:attr(data-placeholder);height:1em;line-height:1em;margin:auto 0;z-index:1;color:var(--placeholder-color);white-space:nowrap;pointer-events:none;opacity:0;position:absolute;}
    .tagify__input::after{content:attr(data-suggest);display:inline-block;vertical-align:middle;position:absolute;min-width:calc(100% - 1.5em);text-overflow:ellipsis;overflow:hidden;white-space:pre;color:var(--tag-text-color);opacity:.3;pointer-events:none;max-width:100px;}
    .tagify--outside{border:0;}
    .tagify--outside .tagify__input{order:-1;flex:100%;border:1px solid var(--tags-border-color);margin-bottom:1em;transition:.1s;}
    .tagify--outside .tagify__input:hover{border-color:var(--tags-hover-border-color);}
    .tagify__input{border-radius:4px;margin:0;padding:10px 12px;}
    @keyframes tags--bump{30%{transform:scale(1.2);}}
nav{display:block;}
a:active,a:hover{outline:0;}
*,::after,::before{box-sizing:inherit;}
ul{margin-top:0;margin-bottom:1rem;}
a:focus,a:hover{color:#3d8b3d;text-decoration:underline;}
a:focus{outline:dotted thin;outline:-webkit-focus-ring-color auto 5px;outline-offset:-2px;}
.page-link{float:left;}
.pagination{margin-bottom:1rem;border-radius:.25rem;}
.pagination{display:inline-block;}
.pagination{padding-left:0;margin-top:1rem;}
.page-item{display:inline;}
.page-item:first-child .page-link{margin-left:0;border-bottom-left-radius:.25rem;border-top-left-radius:.25rem;}
.page-item:last-child .page-link{border-bottom-right-radius:.25rem;border-top-right-radius:.25rem;}
.page-item.active .page-link,.page-item.active .page-link:focus,.page-item.active .page-link:hover{z-index:2;color:#fff;cursor:default;background-color:#757575;border-color:#757575;}
.page-link{position:relative;padding:.5rem .75rem;margin-left:-1px;line-height:1.5;color:#757575;text-decoration:none;background-color:#fff;border:1px solid #ddd;}
.page-link:focus,.page-link:hover{color:#3d8b3d;background-color:#eceeef;border-color:#ddd;}


/* Style de la table */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Style des en-têtes */
table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

/* Style des lignes du corps de la table */
table th, table td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
}

/* Effet de survol sur les lignes */
table tbody tr:hover {
    background-color: #f3f3f3;
}

/* Couleur alternée des lignes impaires */
table tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

/* Responsive: assurer que la table s'adapte bien aux écrans étroits */
@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table thead {
        display: none;
    }

    table, table tbody, table tr, table td {
        display: block;
        width: 100%;
    }

    table tr {
        margin-bottom: 15px;
    }

    table td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: bold;
        text-align: left;
    }
}
